@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-cute: 'Quicksand', sans-serif;

  --color-cute-pink: #F4978E;
  --color-cute-mint: #b5ead7;
  --color-cute-purple: #c7ceea;
  --color-cute-yellow: #ffdac1;
  --color-cute-bg: #fff9f9;
  --color-cute-text: #4a4a4a;

  --animate-bounce-slight: bounce-slight 2s infinite;

  @keyframes bounce-slight {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-cute-bg);
  color: var(--color-cute-text);
  font-family: var(--font-cute);
  overflow: hidden;
}